DB_USER=root
DB_PASSWORD=isi_password_bebas
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=school_payment
PORT=8080
APP_ENV=development

JWT_SECRET=
RESEND_API_KEY=
MAIL_FROM=onboarding@resend.dev
FRONTEND_URL=http://localhost:3000
